#
# RF TRANSVEIVERS drivers
#
# When adding new entries keep the list in alphabetical order
menu "RF Transceivers"

config ADRV9001_NEW
        tristate "Analog Devices ADRV9001/ADRV9002 RF Transceiver driver"
        depends on SPI
        help
          Say yes here to build support for Analog Devices:
          ADRV9001/ADRV9002 RF Transceivers. Provides direct access
          via sysfs

endmenu
